NEXT_PUBLIC_SUPABASE_URL=https://PROJECT.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1a2t5cW50Z2F0aHZlanJpYXl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkzMjI4ODcsImV4cCI6MjA3NDg5ODg4N30.w4gUA8rHmaiB8hRGi3ecuqJJgrOhlyFCrPLnqB2IhyY

# app base url used for redirects (login/logout)
NEXT_PUBLIC_SITE_URL=https://mysched-admin.vercel.app